@model GlobalRestService.Models.AssetCounter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssetCounter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetCounterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
