@model IEnumerable<GlobalRestService.Models.AssetCounter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetSubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetSubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetCounterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetCounterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetCounterID })
        </td>
    </tr>
}

</table>
